<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Coin Combo</title>
</head>
<body>
  <div class="container">
    <h1>Coin Combo</h1>
    <h5>Your input was: {{ cents }}</h5>
    <h5>Your coin combo is: {{ combo[0] }} quarters, {{ combo[1] }} dimes, {{ combo[2] }} nickles, and {{ combo[3] }} pennies.
    </h5>    
  </div>
  <form class="center" action="/">
    <button type="submit" class="btn-primary">Return Home</button>
  </form>
</body>
</html>
